<header class="bg-dark text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center">
      <h1 class="h3 mb-0">DispatchTrack India Pvt Ltd</h1>
    </div>
    <nav class="nav">
      <%= link_to 'Home', root_path, class: 'nav-link text-white' %>
      <%= link_to 'Show All Articles', articles_path, class: 'nav-link text-white' %>
      
      <%if logged_in? %>
        <%= link_to 'Add New Article', new_article_path, class: 'nav-link text-white' %>
        <%= link_to 'Show all Bloggers',users_path,class: 'nav-link text-white' %>
        <%= link_to current_user.username, user_path(current_user), class: 'nav-link text-white' %>
        <%= button_to 'Logout', logout_path, class: "nav-link text-white bg-dark ", method: :delete %>
        <%= link_to 'Delete Account', user_path(current_user),
        method: :delete,
        data: { confirm: 'Are you sure you want to delete your account?' },
        class: "nav-link btn btn-danger text-white" %>

      <%else%>
        <%= link_to 'Log in', login_path, class: 'nav-link text-white' %>
        <%= link_to 'Sign Up', signup_path, class: 'nav-link text-white' %>
      <%end%>
    </nav>
  </div>
</header>

